$primaryColour: #0f4abb;
$secondaryColour: #575b6a;
$bgColor: #f6f8fa;
$whiteColor: #ffffff;
$blackColor: #000000;
$cardBorderColor: #e4e8ed;
$defaultFontColor: #4d505c;
$circleBgColor: #c9ccda;
$dangerColor: #c92737;
$lightColor: #f8f9fa;
$inputBorderColor: #dddfeb;
$chipsBtnBg: rgba(15, 74, 187, 0.12);
$docPlaceHoderBg: #f6f7fb;
$primaryDisabledColor: #ededf0;
$primaryDisabledFontsColor: #9a989f;
$primaryDisabledBorderColor: #c1c0c7;
$dangerBgColor: rgba(201, 39, 55, 0.12);
$successColor: #2f855a;
$successBgColor: rgba(47, 133, 90, 0.12);
$warningColor: #fff;
$warningBgColor: #cea320;
$purpleColor: #6b46c1;
$purpleBgColor: rgba(107, 70, 193, 0.12);
$toastErrorBg: #f8d7da;
$toastErrorBorder: #f5c6cb;
$toastErrorText: #721c24;
$toastSuccessBg: #d4edda;
$toastSuccessBorder: #c3e6cb;
$toastSuccessText: #155724;
$successBorderColor: #0abe33;
$checkDangerColor: #c53030;
$checkWarningColor: #b7791f;
$checkSecondaryColor: #4a5568;
$checkPrimaryColor: #2b6cb0;
$navColor: #434447;
$controlDangerColor: #dc3545;
$controlWarningColor: #ffc107;
$controlInfoColor: #17a2b8;
$loadertextColor: #0c5460;
$loaderBorderColor: #3b82f6;
$loaderTopColor: #d1ecf1;
$confirmRedColor: #ff5f55;
$confirmSecondaryText: #242424;
$tabActiveColor: #2c60c3;
$tabTitleColor: #808286;
$tabLinkColor: #777a83;
$customDayBg: #e6e6e6;
$controlRedonlyBg: #e9ecef;
$placehoderBg: #f3f3f3;
$scrollColor: #f1f1f1;
$scrollThum: #888;
$scrollThumbHover: #555;
$sideBarBorder: #eaeaea;
$innerLoaderBorder: #bee5eb;
$innerLoaderBg: #d1ecf1;
$singleFileBorder: #979797;
$markAll: rgba(15, 74, 187, 0.51);
$modalBgColor: rgba(0, 0, 0, 0.2);
